In [58]:
# Importing Libraries
import pandas as pd
import numpy as np
from pathlib import Path

In [74]:
# Reading Data
data = pd.read_csv('data/news_headlines.csv')

In [75]:
data

         publish_date                                      headline_text
0            20030303  unhooked brakes to blame for taiwan train disa...
1            20030918      oldest prisoner in tas released citing health
2            20030913     nine reportedly dead in portuguese plane crash
3            20031031                nurses welcome medicare rebate plan
4            20030930                             un cuts its iraq staff
5            20030601      tougher water restrictions loom after dry may
6            20030715     illegal fishing review to hold public meetings
7            20030723          minardi sign italian bruni as test driver
8            20030910                       man breaks leg in cliff fall
9            20031125                  bush signs off on troops pay rise
10           20030530       cwealth not responsible for regional airport
11           20031114      indonesia knew about melville boat tow howard
12           20031005       yuvraj into india squad for new zealand test
13           20030502    blair survives backlash at local regional polls
14           20030505                beijing closes access to reservoirs
15           20031014  business group rejects social responsibility s...
16           20030828        qld unswayed by act backdown on health deal
17           20031101           woman jailed for trying to kill daughter
18           20030430   south africa launch bid to host soccer world cup
19           20030513                     catholic school to close doors
20           20030724          baiting aims to address wild dog problems
21           20030522               car crash sparks deeper police probe
22           20030916       maritime college to help boost port security
23           20031027           france adopting cops tactics says ibanez
24           20030615           indonesia says 200 rebels killed in aceh
25           20030809    childhood sun exposure may reduce ms risk study
26           20031204              hospital acknowledges staff shortages
27           20030512                  gold coast man monitored for sars
28           20030701   budget accom crisis as fire laws raise standards
29           20030826    counselling available to students who witnessed
...               ...                                                ...
999971       20170224  catholic archbishops front child abuse royal c...
999972       20170719  michael matthews wins sprint finish to take td...
999973       20170323               regional australia drives solar boom
999974       20170302  consumer watchdog puts hearing aid industry on...
999975       20170114  nt police establish new taskforce to address y...
999976       20170401  gallery debbie devastation flooding continues ...
999977       20170507  polls open in french election showdown between...
999978       20170620  nazi artefacts swastikas hitler bust found in ...
999979       20170207  south west homelessness brought into focus by ...
999980       20170118  eddie betts inks new adelaide crows afl contra...
999981       20170824  daffodils on move cancer council prepares for ...
999982       20170908              yueqiong fu charged with manslaughter
999983       20170821  nbl star kevin white visits nt for charity cli...
999984       20170530            phill mason tasmanian master gem cutter
999985       20170503          jarrod mullen handed four year doping ban
999986       20170302                        chip and chase: nrl round 1
999987       20170210  more than 400 whales strand on new zealand bea...
999988       20170608  toomelah and boggabillas warriors changing the...
999989       20170323  london attack what happened on westminster bridge
999990       20171113  its difficult to convince fans about new mater...
999991       20170604           gunshots heard as people take shelter in
999992       20170419  orphaned calf finds unlikely foster mum in old...
999993       20170331            cbh group chief andy crane to step down
999994       20170625  eliza harvey on finding out correspondent husb...
999995       20170729  elon musk admits delivering cheaper tesla elec...
999996       20170116              northern wa rivers rise and roads cut
999997       20171012       boy scouts of america to allow girls to join
999998       20170829  donald trump faces new lawsuit over transgende...
999999       20170412  charging bull sculptor says fearless girl infr...
1000000      20170104  kyrgios one of the nicest guys in tennis tour ...

[1000001 rows x 2 columns]

In [77]:
initial_year = 2003
final_year = 2017

years = np.arange(initial_year,final_year+1)

for year in years:
    data['publish_date']//10000 == year
    print(data['publish_date']//10000)

0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64

0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64
0          2003
1          2003
2          2003
3          2003
4          2003
5          2003
6          2003
7          2003
8          2003
9          2003
10         2003
11         2003
12         2003
13         2003
14         2003
15         2003
16         2003
17         2003
18         2003
19         2003
20         2003
21         2003
22         2003
23         2003
24         2003
25         2003
26         2003
27         2003
28         2003
29         2003
           ...
999971     2017
999972     2017
999973     2017
999974     2017
999975     2017
999976     2017
999977     2017
999978     2017
999979     2017
999980     2017
999981     2017
999982     2017
999983     2017
999984     2017
999985     2017
999986     2017
999987     2017
999988     2017
999989     2017
999990     2017
999991     2017
999992     2017
999993     2017
999994     2017
999995     2017
999996     2017
999997     2017
999998     2017
999999     2017
1000000    2017
Name: publish_date, Length: 1000001, dtype: int64

In [21]:
np.where(data.isnull(data))

TypeError: isnull() takes 1 positional argument but 2 were given